apprise==1.0.0
bx-django-utils==55
Django==3.2.15
django-extensions==3.2.0
django-huey-monitor==0.6.0
django-model-utils==4.2.0
dj-database-url==1.0.0
mock==4.0.3
pydub==0.25.1
python-dotenv==0.20.0
pytz==2022.2.1
redis==4.5.5