<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Minimalistic Vue JS</title>
    <script type="text/javascript" src="vue.global.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="app">
      <div>
        <!-- Detection -->
        <div v-if="view == 'detections'" class="detections">

          <div v-if="detectionNowDisplaying" class="detections-container">

            <h3><span class="blink-dot"></span> Recent detection </h3>
            

            <!-- First detection is shown -->
            <img
              v-if="detectionNowDisplaying"
              :src="speciesImages[detectionNowDisplaying.species.id]"
              class="scaled-image"
              :key="'today-image' + detectionTodayDisplaying.id"
            />

            <div v-if="detectionNowDisplaying" class="text-container" :key="'today-text' + detectionTodayDisplaying.id">
              <h1>{{detectionNowDisplaying.species.common_name}}</h1>
              <h2>Detected {{returnRelativeTime(detectionNowDisplaying.detected_at)}}</h2>
            </div>

          </div>

          <div v-else class="detections-container">
            <img
              v-if="detectionTodayDisplaying"
              :src="speciesImages[detectionTodayDisplaying.id]"
              class="scaled-image"
              :key="'daily-image' + detectionTodayDisplaying.id"
            />

            <div v-if="detectionTodayDisplaying" class="text-container" :key="'daily-text' + detectionTodayDisplaying.id">
              <h1>{{detectionTodayDisplaying.common_name}}</h1>
              <h2>Detected {{detectionTodayDisplaying.count}} times today</h2>
            </div>

            <div v-if="!detectionTodayDisplaying" class="text-container" key="daily-text-none">
              <h1></h1>
              <h2>System is listening for birds ...</h2>
            </div>

          </div>
        </div>

        <!-- Weather -->

        <div v-if="view == 'weather' && weatherLoaded" class="detections">

          <div class="text">
            <h2>and {{ weatherCurrent.weather[0].main}} in {{ weatherCurrent.name }}</h2>
            <h1>Currently {{ parseInt(weatherCurrent.main.temp) }}°</h1>
            <!-- <h1>Conditions: {{ weatherCurrent.weather[0].main}}</h1>
            <h1>Feels like: {{ parseInt(weatherCurrent.main.feels_like) }} F</h1> -->
          </div>

          <img
            v-if="detectionTodayDisplaying"
            :src="speciesImages[detectionTodayDisplaying.id]"
            class="scaled-image"
            :key="'daily-image-weather-view' + detectionTodayDisplaying.id"
          />

          <!-- <div v-if="detectionTodayDisplaying" class="text-container" :key="'daily-text' + detectionTodayDisplaying.id">
            <h1>{{detectionTodayDisplaying.common_name}}</h1>
            <h2>Detected {{detectionTodayDisplaying.count}} times today</h2>
          </div> -->


        </div>

        <!-- Daily list -->
        <!-- <div v-if="view == 'daily'">
          <h2>Top birds detected today</h2>
            <table>
              <tr>
                <th>Species</th>
                <th>Detections</th>
              </tr>
              <tr v-for="species in detectionsToday">
                <td>{{species.common_name}}</td>
                <td>{{species.count}}</td>
              </tr>
            </table>
        </div> -->
      </div>

      <div class="float-bottom">
        <h1 @click="callShutdown">&#x23FB;</h1>
      </div>
      <div class="float-top">
        <h1 @click="hideCurrentImage">{{ message }}</h1>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="kiosk.js"></script>




<script>
    // Leave the reload outside of kiosk.js.
    // Note: setTimeout in milliseconds.
    let minutes = 30;
    setTimeout(() => {
        window.location.reload();
    }, minutes * 60 * 1000);
</script>


</html>
