#app{
    position: absolute;
    width: 1024px;
    height: 600px;
    background-color: black;
    overflow: hidden;
}


h1 {
    color: white;
    font-size: 3em;
}

h2 {
    color: white;
    font-size: 2em;
}

table {
width: 100%;
border-collapse: collapse;
color: white; /* Text color */
background-color: black; /* Background color */
font-size: 1em;
}

th,
td {
border: 1px solid white; /* Border color */
padding: 18px;
text-align: left;
}

th {
background-color: #333; /* Header background color */
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #222;
}


.centered-div {
    max-width: 700px; /* Set your preferred width */
    max-height: 600px; /* Set your preferred height */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* To center text horizontally */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

.scaled-image {
    max-width: 75%; /* Set your preferred maximum width */
    max-height: 60%; /* Set your preferred maximum height */
    width: auto;
    height: auto;
}

.float-bottom{
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #f0f0f0;
}

.float-bottom h1 {
    color: white;
    font-size: 1em;
}