#app{
    position: absolute;
    width: 1024px;
    height: 600px;
    background-color: black;
    overflow: hidden;
}


h1 {
    color: white;
    font-size: 4em;
}

h2 {
    color: white;
    font-size: 2em;
}

table {
width: 100%;
border-collapse: collapse;
color: white; /* Text color */
background-color: black; /* Background color */
font-size: 1em;
}

th,
td {
border: 1px solid white; /* Border color */
padding: 18px;
text-align: left;
}

th {
background-color: #333; /* Header background color */
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #222;
}


.centered-div {
    max-width: 700px; /* Set your preferred width */
    max-height: 600px; /* Set your preferred height */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* To center text horizontally */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }



.float-bottom{
    position: absolute;
    bottom: -16px;
    right: 12px;
    color: #f0f0f0;
}

.float-bottom h1 {
    font-size: 2em;
    font-family: sans-serif;
}

.float-top{
    position: absolute;
    top: 0px;
    right: 10px;
    color: #f0f0f0;
}

.float-top h1 {
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    text-shadow: 3px 3px 5px black, 10px 10px 30px rgba(0, 0, 0, 1);
}

.shutdown h1{
    color: #888;
}


/* Detections */

.detections {
    width: 1024px;
    height: 600px;
    font-family: sans-serif;
}

.detections-container{
    width: 1024px;
    height: 600px;
}

.detections .scaled-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}




.detections h1 {
    color: white;
    font-size: 6em;
    width: 1000px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 12px;
}

.detections h2 {
    color: white;
    font-size: 2.5em;
    position: absolute;
    width: 1024px;
    text-align: center;
    bottom: 0px;
    left: 0px;
}

.detections h3 {
    color: white;
    font-size: 2em;
    width: 1000px;
    /* text-align: center; */
    position: absolute;
    top: -22px;
    left: 12px;
}

.detections .blink-dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.detections h1, h2, h3 {
    text-shadow: 3px 3px 5px black, 10px 10px 30px rgba(0, 0, 0, 1);
}


